Solutions/Endjin.Selenium.SpecFlowPlugin/Configuration/SauceLabsSectionDesigner.csd.xsd

<?xml version="1.0"?>
<!--
<auto-generated>
    This code was generated by a tool.

     Changes to this file may cause incorrect behavior and will be lost if
    the code is regenerated.
</auto-generated>
-->
<xs:schema xmlns:tns="urn:Endjin.Selenium.SpecFlowPlugin.Configuration" elementFormDefault="qualified" targetNamespace="urn:Endjin.Selenium.SpecFlowPlugin.Configuration" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="sauceLabsSection" type="tns:Endjin.Selenium.SpecFlowPlugin.Configuration.SauceLabsSectionCT" />
	<xs:complexType name="Endjin.Selenium.SpecFlowPlugin.Configuration.CredentialsElementCT">
		<xs:attribute name="accessKey" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The AccessKey.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="userName" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The UserName.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="url" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Url.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="restUrl" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The RestUrl.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Endjin.Selenium.SpecFlowPlugin.Configuration.SauceLabsSectionCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" name="credentials" type="tns:Endjin.Selenium.SpecFlowPlugin.Configuration.CredentialsElementCT">
				<xs:annotation>
					<xs:documentation>The Credentials.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="capabilities" type="tns:Endjin.Selenium.SpecFlowPlugin.Configuration.CapabilityCT">
				<xs:annotation>
					<xs:documentation>The Capabilities.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="Endjin.Selenium.SpecFlowPlugin.Configuration.CapabilityCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" maxOccurs="unbounded" name="capability" type="tns:Endjin.Selenium.SpecFlowPlugin.Configuration.CapabilityElementCT">
				<xs:annotation>
					<xs:documentation>The CapabilityElement Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="Endjin.Selenium.SpecFlowPlugin.Configuration.CapabilityElementCT">
		<xs:attribute name="key" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Key.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="browser" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Browser.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="browserVersion" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The BrowserVersion.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="platform" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Platform.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
</xs:schema>
